body{
  background-color: powderblue;
  text-align: center;
}

.top-container{
  position:relative;
  width: 1349px;
  height: 780px;
}

.order-summary{
  position: absolute;
  top:250px;
  right:520px;
  font-size: 32px;
  margin: 0%;
}

.message{
  font-family: 'Montserrat', sans-serif;
  width: 50%;
  position: absolute;
  top:290px;
  right:290px;
  font-size: 0.80rem;
}

.plan-text{
  /* font-family: 'Montserrat', sans-serif; */
  position: absolute;
  top:400px;
  right:620px;
  font-size: 0.85rem;
}

.change{
  position: absolute;
  top:420px;
  right:530px;
  font-size: 0.85rem;
}

.card-image{
  position: absolute;
  align-items: center;
  width:350px;
  border-radius: 20px 20px 0px 0px;
  left: 550px;
  right: 550px;
  top:60px;
  bottom: -334px;

}

.square{
  display: inline-block;
  position: absolute;
  border-radius: 0px 0px 20px 20px;

  margin: 0px;
  height: 400px;
  width: 350px;
  background-color:#F5F5F5;

  left: 550px;
  right: 550px;
  top:230px;
  bottom: -334px;
}

.cancel-border{
  display: inline-block;
  position: absolute;
  border-radius: 4px;

  margin: 0px;
  height: 70px;
  width: 300px;
  background-color:#add8e6;

  left: 580px;
  right: 550px;
  top:398px;
  bottom: -334px;
}

.music-image{
  margin: 0px;
  position: absolute;
  top:407px;
  right:715px;
}



.btn {
  position: absolute;
  top:497px;
  right:500px;

  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  background: #352cd5;
  padding: 10px 32px 10px 32px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.btn-1 {
  position: absolute;
  top:560px;
  right:532px;
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  text-shadow: 1px 1px 3px #9fa2b3;
  font-family: Georgia;
  color: #9fa2b3;
  font-size: 22px;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn-1:hover {
  background: powderblue;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
